---
import Layout from '../layouts/Layout.astro';
import Plato from '../components/platillos/Plato.astro';
---

<Layout title="Lo mejor para tu gusto" description='Sabores únicos y frescos ingredientes locales en cada plato. Experiencia gastronómica inolvidable.'>
	<main class="w-full bg-color2 py-14">
		<Plato />
	</main>
</Layout>