---
import Layout from '../layouts/Layout.astro';
import Formulario from '../components/reserva/Formulario';
---

<Layout title="Lo mejor para tu gusto" description='Sabores únicos y frescos ingredientes locales en cada plato. Experiencia gastronómica inolvidable.'>
	<main class="w-full bg-color2 py-14">
		<!-- <Formulario /> -->
		 <div class="bg-color7 w-[90%] mx-autopy-5">
			<h1 class="text-3xl uppercase text-color3"><span class="text-color8">Progra</span>mas</h1>
			<p class="text-color1 uppercase text-center">WhastApp <br>
			facebook <br>
			udemy <br>
			hikari Anime <br>
			magis tv <br>
			youtube musica vanced-manager <br>
			tick tock <br>
			samsung video <br>
			samsung-musica <br>
			yape <br>
			opera mini		</p>
			
		</div>
	</main>
</Layout>