---
import Layout from '../layouts/Layout.astro';
import Formulario from '../components/reserva/Formulario';
---

<Layout title="Lo mejor para tu gusto" description='Sabores únicos y frescos ingredientes locales en cada plato. Experiencia gastronómica inolvidable.'>
	<main class="w-full bg-color2 py-14">
		<!-- <Formulario /> -->
		 <div class="bg-color7 flex w-[90%] mx-auto justify-between py-5">
			<h1 class="text-6xl uppercase text-color3">quebr<span class="text-color8">ar</span></h1>
			<h1 class="text-6xl uppercase text-color3">laba<span class="text-color8">r</span></h1>
			<h1 class="text-6xl uppercase text-color3"><span class="text-color8">vi</span>brar</h1>
			<h1 class="text-6xl uppercase text-color3"><span class="text-color8">nom</span>brar</h1>
			<h1 class="text-6xl uppercase text-color3"><span class="text-color8">bro</span>tar</h1>
			
		</div>
	</main>
</Layout>