---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/servicios/Cards.astro';
---

<Layout 
	title="Los Mejores servicios Para ti" 
	description='Descubre nuestros servicios de catering, reservas para eventos, menú de degustación y comidas para llevar. ¡Ofrecemos experiencias gastronómicas únicas en Cajamarca, Perú!'>
	<main class="w-full bg-color2 py-14">
		<Cards />
	</main>
</Layout>