---
import Link from './Link.astro';
import RedesSociales from './RedesSociales.astro';
import IconoDelivery from './IconoDelivery.astro';
---
<!-- parte superior deñ encabezado -->
<div id="color" class="w-full h-12 px-3 mt-3 grid grid-cols-3 bg-color1 dark:bg-fondoDark items-center
    sm:h-12 md:h-24 lg:h-24 xl:h-24 sm:w-full md:w-4/5 md:mx-auto lg:w-4/5 lg:mx-auto xl:w-4/5 xl:mx-auto
">
        <!-- soporte al cliente -->
        <div class="w-full sm:h-12 md:h-24 lg:h-24 xl:h-24 flex">
            <div class="w-1/5 h-full flex justify-start items-center">
                <i class="fa-solid fa-headset dark:text-color2 text-sm sm:text-lg md:text-3xl lg:text-3xl"></i>
            </div>
            <div class="w-4/5 h-full flex flex-col justify-center items-start">
                <h4 class="text-[8px] sm:text-sm md:text-lg  lg:text-lg font-parrafo dark:text-color2">Soporte al Cliente</h4>
                <h5 class="text-[10px] sm:text-sm md:text-lg lg:text-lg font-title dark:text-color2">51+ 999 999 99</h5>
            </div>
        </div>
        <!-- aqui el logo mas su descripcion -->
        <div class="w-full sm:h-12 md:h-24 lg:h-24 xl:h-24 flex justify-center items-center">
            <div class="w-2/5 sm:w-2/5 md:w-[50%] h-10 sm:h-12 md:h-24 lg:h-24 xl:h-24 flex justify-end items-center md:flex md:justify-end md:items-center">
                <img src="/cuy-vector.svg" alt="logo-cuy" class='h-[95%] object-contain'>
            </div>
            <div class="w-3/5 sm:w-3/5 md:w-[50%] md:flex md:justify-start">
                <h2 class="text-[10px] text-center uppercase sm:text-xs leading-[0.8] md:leading-none md:text-sm lg:text-lg font-title dark:text-color2">
                    Sazón 
                    <br>y<br>
                    buen sabor
                </h2>                
            </div>
            
        </div>
        <!-- este es el icono de inicio de secion  -->
        <ul id="encabezado" class="w-full h-full flex justify-end items-center ">
            <button id="toggle-dark-mode">
                <i id="icono" class="fa-solid fa-sun text-color10 text-sm sm:text-lg md:text-3xl lg:text-4xl"></i>
            </button>
            <script>
                const button = document.getElementById("toggle-dark-mode");
                const icon = document.getElementById("icono");
                if (localStorage.getItem('dark-mode') === 'true') {
                    document.documentElement.classList.add('dark')
                    icon.classList.remove('fa-sun', 'text-color10')
                    icon.classList.add('fa-moon', 'text-color1')
                }
                button.addEventListener("click", () => {
                    document.documentElement.classList.toggle('dark')
                    const isDarkMode = document.documentElement.classList.contains('dark')
                    localStorage.setItem('dark-mode', isDarkMode.toString())
                    if (isDarkMode) {
                            icon.classList.remove('fa-sun', 'text-color10')
                            icon.classList.add('fa-moon', 'text-color1')
                    } else {
                        icon.classList.remove('fa-moon', 'text-color1')
                        icon.classList.add('fa-sun', 'text-color10')
                    }

                });
            </script>
            <li>
                <IconoDelivery />
            </li>
        </ul>
        <!-- boton hamburguesa -->
        <button id="menu" class="w-full sm:h-12 md:h-24 lg:h-24 xl:h-24 justify-end items-center">
                <span class="bg-color4 text-xl rounded-sm px-1 text-color2 hover:bg-color3"><i class="fa-solid fa-bars"></i></span>
        </button>

</div>
<!-- aqui esta los navs -->
<div id="navegate" class="hidden md:w-full md:h-20 md:flex justify-center bg-primary dark:bg-dark1">
    <div class="w-4/5 h-full flex justify-between">
        <Link
            content='md:w-[60%] xl:w-[50%] h-full'
            direccion='w-full h-full grid grid-cols-4'
            alinText="justify-start"
            />
        <RedesSociales redStyle='w-[27%] grid grid-cols-4'/>
    </div>
    
</div>
<!--  modal a activar cuando se da click en el boton-->
<article id="modal" class="w-2/5 h-[50%] absolute top-[55px] right-[6%] z-40 hidden">
    <Link 
        content="w-full h-full"
        direccion="w-full h-full grid grid-rows-4 p-4 gap-y-2 "
        alinText="justify-center bg-primary rounded-lg shadow-shadow12"
    />
</article>
<script>
    
    const encabezado = document.getElementById('encabezado') //icon hidden
    const modal = document.getElementById('modal') //respoonsive hambuerguer
    const menu = document.getElementById('menu') //boton active menu hamburguer
    const color = document.getElementById('color') //color al acceder a la version movil
    const links = document.getElementById('navegate') //numero del ancho del pantalla
    
    menu.addEventListener('click', () => {
        modal.classList.toggle('hidden')
    })
    function mobilResponsive() {
        let ancho = window.innerWidth;

        if (ancho < 765) {
            color.classList.remove('bg-color1')
            color.classList.add('bg-primary')
            encabezado.classList.remove('flex')
            encabezado.classList.add('hidden')
            menu.classList.add('flex')
            
        } else {
            color.classList.remove('bg-primary')
            color.classList.add('bg-color1')
            encabezado.classList.remove('hidden')
            encabezado.classList.add('flex')
            menu.classList.remove('flex')
            menu.classList.add('hidden')
        }
    }
    mobilResponsive();
    window.addEventListener('resize', mobilResponsive)
    //otro codigo ScrollBehavior captura las posiciones en la "Y"

    window.addEventListener('scroll', () => {
        let posicionY = window.scrollY; 
        if (posicionY > 99) {
            links.classList.add('fixed', 'top-0', 'left-0', 'z-20', 'shadow-shadow12')
        } else {
            links.classList.remove('fixed', 'top-0', 'left-0', 'z-20', 'shadow-shadow12')
        }
    })
    
</script>
