---
interface Props {
    content: string
    direccion: string

}
const { direccion, content } = Astro.props;
const routs =[
    {ruta:'/', data:'inicio' }, 
    {ruta:'/servicios', data:'servicios'}, 
    {ruta:'/platillos', data:'platillos'}, 
    {ruta:'/reserva', data:'reserva'}
];
---
<div class=`${content}`>
    <ul class= `${direccion}`>
        {
            routs.map(rout =>(
                <li class="w-full h-full">
                    <a class="w-full h-full flex justify-start items-center" href={rout.ruta}>
                        <span class="uppercase font-title font-bold md:text-sm xl:text-lg">{rout.data}</span>
                    </a>
                </li>
            ))
        }
        
        
    </ul>
</div>
