---
const stats = [
  { label: 'Clientes Satisfechos', value: '10,000+' },
  { label: 'Proyectos Completados', value: '500+' },
  { label: 'Años en el Negocio', value: '20+' }
];
---

<div class="w-[95%] mx-auto flex justify-around my-12 bg-color1 dark:bg-dark7 shadow-shadow1 p-6 rounded-xl">
  {stats.map(stat => (
    <div class="text-center">
      <h3 class="font-title text-base mb-3 md:text-xl dark:text-secundary">{stat.value}</h3>
      <p class="font-parrafo text-color4 dark:text-color1">{stat.label}</p>
    </div>
  ))}
</div>
