---
---
<div class="w-full md:w-3/5 mx-auto px-2 pt-8 flex justify-center items-center ">
    <div class="w-2/5 sm:w-2/5 md:w-1/2 md:h-[450px] h-[300px] p-0 md:p-6">
        <iframe class="w-full h-full rounded-md shadow-shadow1" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d63339.60063044805!2d-78.46231553095704!3d-7.157754409688062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1732491227226!5m2!1ses-419!2spe" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="w-3/5 sm:w-3/5 md:w-1/2 md:pt-10 pt-6 md:pl-[10%] pl-3 ">
        <h2 class="md:text-2xl text-lg font-title font-extrabold text-color3 dark:text-color1 uppercase md:mb-2">Nos Ubicamos:</h2>
        <p class="text-color4 dark:text-color2 md:text-lg text-[10px] font-parrafo mb-1"><span class="font-bold">Dirección:</span> Av. Principal 123, Lima, Perú</p>
        <p class="text-color4 dark:text-color2 md:text-lg text-[10px] font-parrafo mb-1"><span class="font-bold">Teléfono:</span> (01) 234-5678</p>
        <p class="text-color4 dark:text-color2 md:text-lg text-[10px] font-parrafo mb-4"><span class="font-bold">Email:</span> contacto@empresa.com</p>
        <p class="text-color4 dark:text-color2 font-boton md:text-xl text-sm font-bold md:mb-2">Horario de Atención:</p>
        <ul class="text-color4 dark:text-color2 md:text-lg text-[10px] space-y-2">
            <li><span class="font-bold">Lunes a Viernes:</span> <br /> 6:00 AM - 6:00 PM</li>
            <li><span class="font-bold">Sábado:</span> <br /> 10:00 AM - 4:00 PM</li>
            <li><span class="font-bold">Domingo:</span> <br /> Cerrado</li>
        </ul>
    </div>
</div>
